html, * {
    padding: 0;
    margin: 0;
    font-family: Poppins;
}

/*A linha abaixo define largura como 100% do tamanho horizontal da tela e o comprimento com 100% da largura vertical*/
body {
    height: 100vh;
}

h2.red{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #f75c4e;
}
h1.black{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    color:black;
}

p.gray {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #575455;
}

a{
    color:black;
    text-decoration: none;
}

div>iframe{
    border-radius: 10px;
    height: 360px;
}

footer {
    padding: 20px;
    background: #CCC;
    display: flex;
    justify-content: center;  
}



/*ID*/

#header {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    text-decoration-line: underline;
    color: #070F18;
    margin: 40px 40px 40px 20px;
}
#menu{
    flex: 1;
    align-items: center;
}
#menu ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
#menu li{
    padding: 10px;
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #070F18;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


#menu li:hover {
    background-color: #f75c4e;
    border-radius: 1em;
    box-shadow: 3px 3px 3px #57545595;
}

#project_img > img {
    width: 360px;
    border-radius: 10px;
}

#portfolio_title{
    margin-top: 15%;
}

#social_media{
    display: flex;
    gap: 32px;
    
}

#social_media a, #social_media a h3{
    display: flex;
    align-items: flex-end;
    font-size: 30px;
    gap: 16px;
    line-height: 100%;
}

 /*CLASS*/


 .container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}

.content{
    font-family: Poppins;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    background: white;
    text-align: justify;
}

.profile_image {
    text-align: center;
    width: 220px;
    border-radius: 100%;
    border: solid 3px #CCC;
    margin: 10px 0 0 20px;
    float: right; /*implementar display flex*/
    display: block;
}

 .text_center{
    text-align: center;
}

.justify_content{
    text-align: justify;
}

.portfolio_img{
    border-radius: 10px;
}

.h3_color{
    color: #f75c4e;
}

.h3_black{
    color: black;
}

.menubar{
    width: 100%;
    background: #CCC;
    display: flex;
    align-items: center;
    position: fixed;
}

.social_image{
    width: 50px;
}

.main {
    margin: 0 15%;
    padding-top: 180px;

}




